            <div id="switch-menu">
                <div>
                  <a class="pbx" style="color:#000;"><span class="click-active span-pbx" content="pbx-content">PBX</span></a>
                  <a class="app-center" style="color:#5E5E5E;"><span class="span-app-center" content="app-center">套件</span></a>
				  <small class="border-bottom"></small>
				  <a style="color:#5E5E5E;" class="developer" href="https://help.yeastar.com/zh-cn/s-series-developer/" target="blank">
				  <span content="api-developer" class="span-developer">二次开发 </span></a>
                  
                </div>
            </div>