
	  	<div class="header-menu">
 			
			<div class="logo">
				<a href="https://www.yeastar.com"></a>
			</div>
			<div class="document-url">
				<span class="split"> | </span><a href="https://help.yeastar.com/en/linkus_client/topic/faq.html">Help Center</a> 
 			</div>
			<div class="header-nav-menu">
				<div class="slide-menu"></div>
				<ul class="nav-menu-1">
					<li class="menu-title">
						
					</li>		
					<li class="linkus-download">
						<a href="https://www.yeastar.com/unified-communications/linkus-softphone/#linkus-download" class="menu-title-a">Download</a>
					</li>
				</ul>
			</div>
	  		<div class="subheader">
	  			<div class="doc-url">
	  				<span class="doc-url"><a href="faq.html">FAQ</a> </span>
	  				<span class="doc-url"><a href="linkus-desktop-client-quick-start-guide.html">User Guide</a> </span>
	  				<span class="doc-url"><a href="release-notes.html">Release Notes</a> </span>      
	  			</div>
	  		</div>
		</div>
