
	  	<div class="header-menu">
 			
			<div class="logo">
				<a href="https://www.yeastar.com"></a>
			</div>
			<div class="document-url">
				<span class="split"> | </span><a href="https://help.yeastar.com/en/">Document Center</a>
	
				<span class="doc-url"> Yeastar K2 PBX API </span>
				
				<div id="desktop-nav__product-switcher" class="desktop-nav__product-switcher">
	  				<div class="product-switcher__wrapper product-switcher--desktop dropdown__container">
	  					<button id="product-switcher__button" class="product-switcher__button dropdown__trigger" aria-controls="desktop-nav-product-switcher__menu" aria-expanded="true">V1.1.0
	  						<li-icon class="product-switcher-button__caret" type="caret-filled-down-icon" size="large" color="" tabindex="-1" aria-hidden="true">
	  							<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M5,9h14l-6.2,6.7C12.6,15.9,12.3,16,12,16c-0.3,0-0.6-0.1-0.8-0.3L5,9z" class="large-icon" style="fill: currentColor"></path>
	  							</svg>
	  						</li-icon>
	  					</button>
	  					<div id="desktop-nav-product-switcher__menu" class="product-switcher__menu dropdown__menu" tabindex="-1" aria-hidden="false">
	  						<div class="product-switcher__menu-content"><a class="product-menu__link dropdown__menu-item product-menu__link--selected" href="https://help.yeastar.com/en/k2-developer">V1.1.0</a>
	  							<br><a class="product-menu__link dropdown__menu-item" href="https://help.yeastar.com/en/k2-developer-v2">V2.0.0</a></br>
	  								
	  						</div></div></div></div>

 			</div>
			<div class="header-nav-menu">
				<div class="slide-menu"></div>
				<ul class="nav-menu-1">
               


					<li class="menu-title">
						<a class="menu-title-a">Support</a>
						<ul class="nav-menu-2 nav-menu-support">
							<li class="nemu-title-2">
								<a>Resources</a>
								<ul class="nav-menu-3">
									<li><a href="https://www.yeastar.com/document-download/">Documents<span class="intro">User manuals, datasheet, etc.</span></a></li>
									<li><a href="https://www.yeastar.com/firmware-download/">Firmware<span class="intro">Download the latest firmware.</span></a></li>
									<li><a href="https://www.yeastar.com/s-series-faq/">FAQ<span class="intro">Frequently asked questions.</span></a></li>
								</ul>
							</li>
							<li class="nemu-title-2">
								<a href="https://support.yeastar.com/hc/en-us">Support Portal</a>
								<ul class="nav-menu-3">
									<li><a href="https://support.yeastar.com/hc/en-us/community/topics">Community<span class="intro">Ask the community for help.</span></a></li>
									<li><a href="https://support.yeastar.com/hc/en-us/categories/202596968-Knowledge-Base">Knowledge Base<span class="intro">Search for KB articles.</span></a></li>
									<li><a href="https://support.yeastar.com/hc/en-us/requests/new">Submit a Ticket<span class="intro">Open a support ticket.</span></a></li>
								</ul>
							</li>
							<li class="nemu-title-22">
								<a href="https://www.yeastar.com/webinars/">Webinar<span class="intro" style="margin-top:13px;font-weight: normal;">Free online training on products and solutions.</span></a>
							</li>
						</ul>
					</li>		
					<li class="free-trial">
						<a href="https://www.yeastar.com/cloud-pbx-free-trial/" class="menu-title-a">Free Trial</a>
					</li>
				</ul>
			</div>
		</div>
