    <div id="date" style="
    	color:#78cbf4; 
         width: 730px; max-width: 800px; 
		 font-size: 16px; font-weight: 500;
         margin:auto;    
		 margin-bottom: auto; margin-bottom: 1.2em; 
		line-height: 3.5em;  
		text-align: left; 
		margin-left:16em;
		margin-bottom:-40px;">
    	<span> Popular keywords: </span>
    	<span ><a href="https://help.yeastar.com/en/linkus_client/topic/faq.html" style="text-decoration:underline; font-size:14px; color:#78cbf4; font-weight:300; margin-left:0.6em;">Linkus Client</a></span>
    	<span ><a href="topic/linkus_server.html" style="text-decoration:underline; font-size:14px; color:#78cbf4; font-weight:300; margin-left:0.6em;">Linkus Server</a></span>
    	<span ><a href="topic/auto_provisioning.html" style="text-decoration:underline; font-size:14px; color:#78cbf4; font-weight:300; margin-left:0.6em;">Auto Provisioning</a></span>
    	<span ><a href="https://www.yeastar.com/itsp-partners/" style="text-decoration:underline; font-size:14px; color:#78cbf4; font-weight:300; margin-left:0.6em;">Supported SIP Trunks</a></span>
    </div>