<div id="linkus-user-guides">
<h1 id="user-guides-h1"> User Guide </h1>
<div id="user-guides">
	
	<div id="linkus-quick-start-guide">	 
		<a href="topic/linkus-mobile-client-quick-start-guide.html"> 
			<img class="linkus-guide-cover" src="oxygen-webhelp/template/images/mobile-qsg-cover.png"></img>
		</a>
		
    </div>
	<div id="linkus-quick-start-guide">	 
		<a href="topic/linkus-desktop-client-quick-start-guide.html"> 
			<img class="linkus-guide-cover" src="oxygen-webhelp/template/images/pc-qsg-cover.png"></img>
		</a>
		
	</div>
	<div id="linkus-quick-start-guide">	 
		<a href="topic/linkus-video-tutorial.html"> 
			<img class="linkus-guide-cover" src="oxygen-webhelp/template/images/video-center.png"></img>
		</a>
	
	</div>
</div>
</div>