
	  	<div class="header-menu">
 			
			<div class="logo">
				<a href="http://www.yeastar.cn/"></a>
			</div>
			<div class="document-url">
				<span class="split"> | </span><a href="https://help.yeastar.com/zh-cn">文档中心</a>
			
				<span class="doc-url"> <a href="https://help.yeastar.com/zh-cn/s-series-developer/">API 指南(中小型 IPPBX)</a> </span>
	

 			</div>
			<div class="header-nav-menu">
				<div class="slide-menu"></div>
				<ul class="nav-menu-1">
                
					<li class="menu-title">
						<a class="menu-title-a" href="http://www.yeastar.cn/contact/">技术支持</a>
						
					</li>
					<li class="header-download">
						<a href="https://help.yeastar.com/download/docs/s-series-api-v1-developer-guide-zh-CN.pdf" class="menu-title-a">PDF 下载</a>
					</li>					
					<li class="free-trial">
						<a href="http://www.yeastar.cn/cloud-pbx-free-trial-application/" class="menu-title-a">免费试用</a>
					</li>
				</ul>
			</div>
		</div>
