
	  	<div class="header-menu">
 			
			<div class="logo">
				<a href="https://www.yeastar.com"></a>
			</div>
			<div class="document-url">
				<span class="split"> | </span><a href="https://help.yeastar.com/en/">Document Center</a>
				<span class="doc-url"><a href="https://help.yeastar.com/en/ymp-hosting-partner/">YMP (Hosting)</a> </span>
				<span class="doc-url"> <a href="http://help.yeastar.com/en/ymp-hosting-partner-developer/">Developer (Hosting)</a> </span>
			

 			</div>
			<div class="header-nav-menu">
				<div class="slide-menu"></div>
				<ul class="nav-menu-1">
					<li class="menu-title">
						<a class="menu-title-a">Support</a>
						<ul class="nav-menu-2 nav-menu-support">
							<li class="nemu-title-2">
								<a>Resources</a>
								<ul class="nav-menu-3">
									<li><a href="https://www.yeastar.com/document-download/">Documents<span class="intro">User manuals, datasheet, etc.</span></a></li>
									<li><a href="https://www.yeastar.com/firmware-download/">Firmware<span class="intro">Download the latest firmware.</span></a></li>
									<li><a href="https://www.yeastar.com/s-series-faq/">FAQ<span class="intro">Frequently asked questions.</span></a></li>
								</ul>
							</li>
							<li class="nemu-title-2">
								<a href="https://support.yeastar.com/hc/en-us">Support Portal</a>
								<ul class="nav-menu-3">
									<li><a href="https://support.yeastar.com/hc/en-us/community/topics">Community<span class="intro">Ask the community for help.</span></a></li>
									<li><a href="https://support.yeastar.com/hc/en-us/categories/202596968-Knowledge-Base">Knowledge Base<span class="intro">Search for KB articles.</span></a></li>
									<li><a href="https://support.yeastar.com/hc/en-us/requests/new">Submit a Ticket<span class="intro">Open a support ticket.</span></a></li>
								</ul>
							</li>
							<li class="nemu-title-22">
								<a href="https://www.yeastar.com/webinars/">Webinar<span class="intro" style="margin-top:13px;font-weight: normal;">Free online training on products and solutions.</span></a>
							</li>
						</ul>
					</li>		
					<li class="free-trial">
						<a href="https://www.yeastar.com/cloud-pbx-free-trial/" class="menu-title-a">Free Trial</a>
					</li>
				</ul>
			</div>
		</div>
