
	  	<div class="header-menu">
 			
			<div class="logo">
				<a href="https://www.yeastar.com"></a>
			</div>
			<div class="document-url">
				<span class="split"> | </span><a href="https://help.yeastar.com/en/linkus_client/topic/faq.html">Help Center</a> 
				
				<span class="doc-url"><a href="https://help.yeastar.com/en/linkus_client/topic/release-notes.html">Release Notes</a> </span>
 			</div>
			<div class="header-nav-menu">
				<div class="slide-menu"></div>
				<ul class="nav-menu-1">
					<li class="menu-title">
						
					</li>		
					<li class="free-trial">
						<a href="https://www.yeastar.com/unified-communications/linkus-softphone/#linkus-download" class="menu-title-a">Download</a>
					</li>
				</ul>
			</div>
		</div>
