
	  	<div class="header-menu">
 			
			<div class="logo">
				<a href="http://www.yeastar.cn"></a>
			</div>
			<div class="document-url">
				<span class="split"> | </span><a href="https://help.yeastar.com/zh-cn/linkus_client/topic/faq.html">帮助中心</a> 
 			</div>
			<div class="header-nav-menu">
				<div class="slide-menu"></div>
				<ul class="nav-menu-1">
					<li class="menu-title">
						
					</li>		
					<li class="linkus-download">
						<a href="https://www.yeastar.com/unified-communications/linkus-softphone/#linkus-download" class="menu-title-a">下载</a>
					</li>
				</ul>
			</div>
	  		<div class="subheader">
	  			<div class="doc-url">
	  				<span class="doc-url"><a href="faq.html">常见问题</a> </span>
	  				<span class="doc-url"><a href="linkus-desktop-client-quick-start-guide.html">用户手册</a> </span>
	  				<span class="doc-url"><a href="release-notes.html">更新日志</a> </span>      
	  			</div>
	  		</div>
		</div>
