
	  	<div class="header-menu">
 			
			<div class="logo">
				<a href="http://www.yeastar.cn/"></a>
			</div>
			<div class="document-url">
				<span class="split"> | </span><a href="https://help.yeastar.com/zh-cn">文档中心 </a>
				<span class="doc-url"> API 指南（朗视云 PBX） </span>
				
				<div id="desktop-nav__product-switcher" class="desktop-nav__product-switcher">
	  				<div class="product-switcher__wrapper product-switcher--desktop dropdown__container">
	  					<button id="product-switcher__button" class="product-switcher__button dropdown__trigger" aria-controls="desktop-nav-product-switcher__menu" aria-expanded="true">V1.1.0
	  						<li-icon class="product-switcher-button__caret" type="caret-filled-down-icon" size="large" color="" tabindex="-1" aria-hidden="true">
	  							<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M5,9h14l-6.2,6.7C12.6,15.9,12.3,16,12,16c-0.3,0-0.6-0.1-0.8-0.3L5,9z" class="large-icon" style="fill: currentColor"></path>
	  							</svg>
	  						</li-icon>
	  					</button>
	  					<div id="desktop-nav-product-switcher__menu" class="product-switcher__menu dropdown__menu" tabindex="-1" aria-hidden="false">
	  						<div class="product-switcher__menu-content"><a class="product-menu__link dropdown__menu-item product-menu__link--selected" href="https://help.yeastar.com/zh-cn/cloudpbx-developer">V1.1.0</a>
	  							<br><a class="product-menu__link dropdown__menu-item" href="https://help.yeastar.com/zh-cn/cloudpbx-developer-v2">V2.0.0</a></br>
	  								
	  						</div></div></div></div>

 			</div>
			<div class="header-nav-menu">
				<div class="slide-menu"></div>
				<ul class="nav-menu-1">
						
					<li class="menu-title">
						<a class="menu-title-a" href="http://www.yeastar.cn/contact/">技术支持</a>
						
					</li>		
					<li class="header-download">
						<a href="https://help.yeastar.com/download/docs/cloudpbx-api-v1-developer-guide-zh-CN.pdf" target="_blank" class="menu-title-a">PDF 下载</a>
					</li>
					<li class="free-trial">
						<a href="http://www.yeastar.cn/cloud-pbx-free-trial-application/" class="menu-title-a">免费试用</a>
					</li>
					
				</ul>
			</div>
		</div>
