<div id="ug-editor-name"
 style=" color:#ffffff; 
         width: 730px; max-width: 800px; 
		 font-size: 3.0em; font-weight: 500;
         margin:auto;    
		 margin-bottom: auto; margin-bottom: 0.5em; 
		line-height: 2.2em;  
		text-align: center;

		">

Yeastar S50/S100/S300 
 
    <div id="date" style="
	     color:#ffffff; 
         width: 730px; max-width: 800px; 
		 font-size: 0.6em; font-weight: 300;
         margin:auto;    
		 margin-bottom: auto; margin-bottom: 1.2em; 
		line-height: 1.2em;  
		text-align: center;
		margin-top: -15px;">

							API Developer Guide <span style="    font-size: 0.8em; color: #FFB700;font-weight: 400;">&#160;v2.0.0</span>
	</div>
</div>